In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.feature_selection import VarianceThreshold
import glob
import zipfile

/var/folders/3l/5v7rvfhn4sn35nr7f47zf2kr0000gn/T/ipykernel_66595/3717543875.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
#unzip files
filenames = glob.glob('*zip')
print(filenames)
for file in filenames:
    with zipfile.ZipFile(file,"r") as zip_ref:
        zip_ref.extractall("apartments_pl")

['apartments_pl_2024_02.csv.zip', 'apartments_pl_2023_09.csv.zip', 'apartments_pl_2023_10.csv.zip', 'apartments_pl_2023_11.csv.zip', 'apartments_pl_2023_08.csv.zip', 'apartments_pl_2024_01.csv.zip', 'apartments_pl_2023_12.csv.zip']

In [43]:
#load files 
filenames = glob.glob('apartments_pl/*csv')
for file in filenames:
    df_temp = pd.read_csv(file)
    df = pd.concat([df, df_temp])
df.shape[0]

130709

In [36]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1289849 entries, 0 to 16360
Data columns (total 28 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1289849 non-null  object
 1   city                  1289849 non-null  object
 2   type                  1003904 non-null  object
 3   squareMeters          1289849 non-null  float64
 4   rooms                 1289849 non-null  float64
 5   floor                 1056451 non-null  float64
 6   floorCount            1272590 non-null  float64
 7   buildYear             1071686 non-null  float64
 8   latitude              1289849 non-null  float64
 9   longitude             1289849 non-null  float64
 10  centreDistance        1289849 non-null  float64
 11  poiCount              1289849 non-null  float64
 12  schoolDistance        1288463 non-null  float64
 13  clinicDistance        1284393 non-null  float64
 14  postOfficeDistance    1287968 non-null  float64
 15  kindergartenDistance  1288331 non-null  float64
 16  restaurantDistance    1286296 non-null  float64
 17  collegeDistance       1252658 non-null  float64
 18  pharmacyDistance      1287770 non-null  float64
 19  ownership             1289849 non-null  object
 20  buildingMaterial      788557 non-null   object
 21  condition             316547 non-null   object
 22  hasParkingSpace       1289849 non-null  object
 23  hasBalcony            1289849 non-null  object
 24  hasElevator           1223893 non-null  object
 25  hasSecurity           1289849 non-null  object
 26  hasStorageRoom        1289849 non-null  object
 27  price                 1289849 non-null  int64
dtypes: float64(16), int64(1), object(11)
memory usage: 285.4+ MB

,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,centreDistance,poiCount,schoolDistance,clinicDistance,postOfficeDistance,kindergartenDistance,restaurantDistance,collegeDistance,pharmacyDistance,price
count,1.289849e+06,1.289849e+06,1.056451e+06,1.272590e+06,1.071686e+06,1.289849e+06,1.289849e+06,1.289849e+06,1.289849e+06,1.288463e+06,1.284393e+06,1.287968e+06,1.288331e+06,1.286296e+06,1.252658e+06,1.287770e+06,1.289849e+06
mean,5.936719e+01,2.701848e+00,3.304412e+00,5.235699e+00,1.985300e+03,5.204536e+01,1.947073e+01,4.318678e+00,2.069004e+01,4.152192e-01,9.739390e-01,5.201147e-01,3.735109e-01,3.513805e-01,1.441477e+00,3.637554e-01,7.569387e+05
std,2.166150e+01,9.231711e-01,2.503601e+00,3.266435e+00,3.424417e+01,1.345630e+00,1.788517e+00,2.860911e+00,2.440131e+01,4.750245e-01,8.977521e-01,5.092411e-01,4.585264e-01,4.780877e-01,1.103140e+00,4.724435e-01,3.904476e+05
min,2.500000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.850000e+03,4.997900e+01,1.444713e+01,2.000000e-02,0.000000e+00,2.000000e-03,1.000000e-03,1.000000e-03,1.000000e-03,1.000000e-03,6.000000e-03,1.000000e-03,1.500000e+05
25%,4.465000e+01,2.000000e+00,2.000000e+00,3.000000e+00,1.965000e+03,5.111169e+01,1.851823e+01,1.960000e+00,7.000000e+00,1.750000e-01,3.550000e-01,2.390000e-01,1.570000e-01,1.150000e-01,5.800000e-01,1.430000e-01,4.990000e+05
50%,5.540000e+01,3.000000e+00,3.000000e+00,4.000000e+00,1.994000e+03,5.219592e+01,1.989567e+01,3.920000e+00,1.300000e+01,2.900000e-01,6.750000e-01,3.930000e-01,2.650000e-01,2.310000e-01,1.119000e+00,2.410000e-01,6.790000e+05
75%,6.970000e+01,3.000000e+00,4.000000e+00,6.000000e+00,2.015000e+03,5.244140e+01,2.099135e+01,6.120000e+00,2.400000e+01,4.690000e-01,1.237000e+00,6.250000e-01,4.190000e-01,4.120000e-01,2.054000e+00,4.080000e-01,8.990000e+05
max,1.500000e+02,6.000000e+00,2.900000e+01,2.900000e+01,2.024000e+03,5.460646e+01,2.320713e+01,1.694000e+01,2.120000e+02,4.946000e+00,4.998000e+00,4.970000e+00,4.961000e+00,4.985000e+00,5.000000e+00,4.992000e+00,3.250000e+06

In [42]:
#drop observations
df = df.dropna()

#convert to numerical data
df['condition'] = df['condition'].map({'low': 0, 'premium': 1})
df['type'] = df['type'].map({'apartmentBuilding': 1, 'blockOfFlats': 2, 'tenement': 3})
for col in ['hasParkingSpace', 'hasBalcony', 'hasElevator', 'hasSecurity', 'hasStorageRoom']:
    df[col] = df[col].map({'no': 0, 'yes': 1})

for col in ['hasParkingSpace', 'hasBalcony', 'hasElevator', 'hasSecurity', 'hasStorageRoom', 'condition', 'type']:
    df[col] = df[col].astype(np.int8)


#drop features
toDrop = ['id', 'ownership', 'city', 'buildingMaterial']
df = df.drop(toDrop, axis=1)

#drop low variance featurse
sel = VarianceThreshold(threshold=.05)
sel.fit(df/df.mean())
mask = sel.get_support() 
#Still need longtude, latitude, and buildYear
df = df.loc[:, mask]

,type,squareMeters,rooms,floor,floorCount,centreDistance,poiCount,schoolDistance,clinicDistance,postOfficeDistance,...,restaurantDistance,collegeDistance,pharmacyDistance,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,1,105.00,4.0,3.0,4.0,5.06,1.0,1.080,0.949,0.623,...,1.054,3.062,0.335,1,0,1,1,0,0,1199999
5,2,81.00,4.0,4.0,4.0,4.01,9.0,0.061,0.245,0.413,...,0.498,1.322,0.348,1,1,0,0,0,1,729000
9,2,55.04,3.0,2.0,3.0,5.07,0.0,0.826,1.701,1.089,...,1.008,1.129,1.052,1,1,1,0,0,0,649000
10,2,75.77,3.0,1.0,1.0,1.04,47.0,0.173,0.332,0.010,...,0.062,0.501,0.121,1,0,0,0,0,1,499000
13,2,68.94,3.0,3.0,4.0,2.29,8.0,0.371,0.592,0.213,...,0.240,0.583,0.721,0,0,1,0,0,1,560000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16299,3,39.00,2.0,1.0,4.0,0.65,54.0,0.111,0.205,0.351,...,0.058,0.622,0.205,0,0,0,0,0,1,205000
16324,2,37.30,2.0,10.0,10.0,3.29,21.0,0.400,0.417,0.299,...,0.080,0.861,0.155,0,0,1,1,0,1,219000
16335,1,71.72,3.0,1.0,2.0,3.29,21.0,0.400,0.417,0.299,...,0.080,0.861,0.155,1,0,1,1,0,0,849000
16347,2,74.00,3.0,1.0,4.0,4.04,14.0,0.214,0.313,0.449,...,0.406,1.660,0.277,0,0,0,0,0,1,390000
16351,2,74.00,3.0,1.0,3.0,4.04,14.0,0.214,0.313,0.449,...,0.406,1.660,0.277,0,0,0,0,0,1,389900

In [44]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 130709 entries, 0 to 16360
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   type                  104714 non-null  object
 1   squareMeters          130709 non-null  float64
 2   rooms                 130709 non-null  float64
 3   floor                 109491 non-null  float64
 4   floorCount            129140 non-null  float64
 5   centreDistance        130709 non-null  float64
 6   poiCount              130709 non-null  float64
 7   schoolDistance        130583 non-null  float64
 8   clinicDistance        130213 non-null  float64
 9   postOfficeDistance    130538 non-null  float64
 10  kindergartenDistance  130571 non-null  float64
 11  restaurantDistance    130386 non-null  float64
 12  collegeDistance       127328 non-null  float64
 13  pharmacyDistance      130520 non-null  float64
 14  condition             42227 non-null   object
 15  hasParkingSpace       130709 non-null  object
 16  hasBalcony            130709 non-null  object
 17  hasElevator           124713 non-null  object
 18  hasSecurity           130709 non-null  object
 19  hasStorageRoom        130709 non-null  object
 20  price                 130709 non-null  int64
 21  id                    117259 non-null  object
 22  city                  117259 non-null  object
 23  buildYear             97426 non-null   float64
 24  latitude              117259 non-null  float64
 25  longitude             117259 non-null  float64
 26  ownership             117259 non-null  object
 27  buildingMaterial      71687 non-null   object
dtypes: float64(16), int64(1), object(11)
memory usage: 28.9+ MB

,squareMeters,rooms,floor,floorCount,centreDistance,poiCount,schoolDistance,clinicDistance,postOfficeDistance,kindergartenDistance,restaurantDistance,collegeDistance,pharmacyDistance,price,buildYear,latitude,longitude
count,130709.000000,130709.000000,109491.000000,129140.000000,130709.000000,130709.000000,130583.000000,130213.000000,130538.000000,130571.000000,130386.000000,127328.000000,130520.000000,1.307090e+05,97426.000000,117259.000000,117259.000000
mean,59.564336,2.706478,3.311907,5.269158,4.277794,20.938199,0.408664,0.960036,0.513144,0.367519,0.344180,1.425993,0.356818,7.599677e+05,1985.299509,52.045362,19.470735
std,21.743089,0.924618,2.516757,3.275398,2.844513,24.507806,0.461565,0.886140,0.495436,0.444224,0.462292,1.097261,0.456487,3.942407e+05,34.244332,1.345636,1.788524
min,25.000000,1.000000,1.000000,1.000000,0.020000,0.000000,0.002000,0.001000,0.001000,0.001000,0.001000,0.006000,0.001000,1.500000e+05,1850.000000,49.978999,14.447127
25%,44.900000,2.000000,2.000000,3.000000,1.940000,7.000000,0.173000,0.351000,0.238000,0.157000,0.114000,0.570000,0.143000,4.990000e+05,1965.000000,51.111693,18.518341
50%,55.600000,3.000000,3.000000,4.000000,3.860000,14.000000,0.288000,0.665000,0.390000,0.263000,0.229000,1.097000,0.239000,6.800000e+05,1994.000000,52.195920,19.895674
75%,70.000000,3.000000,4.000000,6.000000,6.070000,25.000000,0.465000,1.221000,0.618000,0.416000,0.407000,2.041000,0.403000,9.000000e+05,2015.000000,52.441367,20.991350
max,150.000000,6.000000,29.000000,29.000000,16.940000,212.000000,4.946000,4.998000,4.970000,4.961000,4.985000,5.000000,4.992000,3.250000e+06,2024.000000,54.606460,23.207128

In [46]:
df.columns

Index(['type', 'squareMeters', 'rooms', 'floor', 'floorCount',
       'centreDistance', 'poiCount', 'schoolDistance', 'clinicDistance',
       'postOfficeDistance', 'kindergartenDistance', 'restaurantDistance',
       'collegeDistance', 'pharmacyDistance', 'condition', 'hasParkingSpace',
       'hasBalcony', 'hasElevator', 'hasSecurity', 'hasStorageRoom', 'price',
       'id', 'city', 'buildYear', 'latitude', 'longitude', 'ownership',
       'buildingMaterial'],
      dtype='object')

In [92]:
df.to_csv('full_dataset.csv', index=False)