In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.feature_selection import VarianceThreshold
import glob
import zipfile

In [57]:
filenames = ['apartments_pl/apartments_pl_2023_08.csv', 'apartments_pl/apartments_pl_2023_09.csv']
df = pd.DataFrame()
for file in filenames:
    df_temp = pd.read_csv(file)
    #make date value
    date = pd.to_datetime(file.split('_')[3] + file.split('_')[4].split('.')[0] + '01')
    #add date column and date value for each row #what should the type be?
    df_temp["date"] = date
    df = pd.concat([df, df_temp])
df.shape[0]

35902

In [56]:
count = 0
for i in df['id']:
    if (i == '000acf1d14adba1b21c0970555514a18'):
        print(df.iloc[count])
    count = count + 1

id                      000acf1d14adba1b21c0970555514a18
city                                                lodz
type                                        blockOfFlats
squareMeters                                        53.0
rooms                                                3.0
floor                                                3.0
floorCount                                           4.0
buildYear                                         1985.0
latitude                                        51.74388
longitude                                       19.40434
centreDistance                                      5.44
poiCount                                            25.0
schoolDistance                                      0.39
clinicDistance                                     0.572
postOfficeDistance                                 0.317
kindergartenDistance                               0.153
restaurantDistance                                 0.236
collegeDistance                                    3.394
pharmacyDistance                                   0.309
ownership                                    condominium
buildingMaterial                            concreteSlab
condition                                            NaN
hasParkingSpace                                       no
hasBalcony                                           yes
hasElevator                                           no
hasSecurity                                           no
hasStorageRoom                                       yes
price                                             460000
date                                 2023-08-01 00:00:00
Name: 10129, dtype: object
id                      000acf1d14adba1b21c0970555514a18
city                                                lodz
type                                        blockOfFlats
squareMeters                                        53.0
rooms                                                3.0
floor                                                3.0
floorCount                                           4.0
buildYear                                         1985.0
latitude                                        51.74388
longitude                                       19.40434
centreDistance                                      5.44
poiCount                                            25.0
schoolDistance                                      0.39
clinicDistance                                     0.572
postOfficeDistance                                 0.317
kindergartenDistance                               0.153
restaurantDistance                                 0.236
collegeDistance                                    3.394
pharmacyDistance                                   0.309
ownership                                    condominium
buildingMaterial                            concreteSlab
condition                                            NaN
hasParkingSpace                                       no
hasBalcony                                           yes
hasElevator                                           no
hasSecurity                                           no
hasStorageRoom                                       yes
price                                             419000
date                                 2023-09-01 00:00:00
Name: 8479, dtype: object

In [58]:
df_sorted = df.sort_values(by='date')
#grouped = df_sorted.groupby('id')['price'].agg(lambda x: sorted(x.tolist())).reset_index()
grouped = df_sorted.groupby('id').apply(
    lambda x: sorted(x['price'].tolist(), 
                     key=lambda y: df_sorted.loc[df_sorted['price'] == y, 'date'].iloc[0])
                                        ).reset_index(name='sorted_prices')
print(grouped)

                                     id     sorted_prices
0      00048021c18c2dd7286ca5b16314149b          [239000]
1      00099201961c051e30735cb48ecc4f4a  [294000, 294000]
2      000acf1d14adba1b21c0970555514a18  [460000, 419000]
3      000d204022de2218bda363b977f59312         [2200000]
4      000f9c10ab7bab5e21b0409df27145a5  [799000, 799000]
...                                 ...               ...
24998  fff62cda8976f3984c6aaef945eac18c          [799000]
24999  fff9a8927155c7b60a2139f9a53bb5a0          [575000]
25000  fff9b7b424c1be1538916d19bfad0e8e          [729000]
25001  ffff369f1fb57bff8d9180282051be1a  [390000, 390000]
25002  ffff9b9a537d0c6fc9093889f17f1580          [610000]

[25003 rows x 2 columns]

/var/folders/3l/5v7rvfhn4sn35nr7f47zf2kr0000gn/T/ipykernel_44327/3330894353.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped = df_sorted.groupby('id').apply(lambda x: sorted(x['price'].tolist(), key=lambda y: df_sorted.loc[df_sorted['price'] == y, 'date'].iloc[0])).reset_index(name='sorted_prices')

In [59]:
type(grouped)

pandas.core.frame.DataFrame

In [72]:
grouped.head(10)

                                 id     sorted_prices
0  00048021c18c2dd7286ca5b16314149b          [239000]
1  00099201961c051e30735cb48ecc4f4a  [294000, 294000]
2  000acf1d14adba1b21c0970555514a18  [460000, 419000]
3  000d204022de2218bda363b977f59312         [2200000]
4  000f9c10ab7bab5e21b0409df27145a5  [799000, 799000]
5  000fdd1a757e3372d4464a82cf435b88          [690000]
6  0013d57121aca281f555e701f3ad9219          [720000]
7  0014839fb0ac4962d02725466fd2b7d0          [292000]
8  0014fedd2953161767b0407b6f02c283          [699000]
9  001c5decbc6a59d850974f94a9da8ba2  [549017, 549017]

In [68]:
grouped.loc[grouped['sorted_prices'] > 1)]

TypeError: '>' not supported between instances of 'method' and 'int'

In [66]:
grouped['sorted_prices']

0                [239000]
1        [294000, 294000]
2        [460000, 419000]
3               [2200000]
4        [799000, 799000]
               ...
24998            [799000]
24999            [575000]
25000            [729000]
25001    [390000, 390000]
25002            [610000]
Name: sorted_prices, Length: 25003, dtype: object