In [2]:
import pandas as pd

In [50]:
df = pd.read_csv('full_dataset.csv')

df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

id_counts = df['id'].value_counts() #id_counts is a list of the ids that appear 7 times. There are 1460 apartments.

result = df[df['id'].isin(id_counts.index[id_counts == 7])].copy()

result.head() #result is the dataframe that has all the apartments that appear seven times

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price,date
28,209a6d2dea99216bdf83a968343cd3b3,szczecin,tenement,61.48,2.0,NaN,3.0,1900.0,53.491508,14.606985,...,condominium,brick,premium,no,no,no,no,yes,390000,2023-12-01
30,bac1869ad9c2c1ef444b0ba6d225761a,szczecin,tenement,77.71,3.0,3.0,3.0,1925.0,53.433019,14.569775,...,condominium,brick,low,no,no,no,no,yes,599000,2023-12-01
33,23d558163bb1c7863c73485048e50858,szczecin,NaN,53.80,2.0,5.0,5.0,NaN,53.429429,14.554642,...,cooperative,NaN,NaN,no,no,yes,no,no,420000,2023-12-01
34,7ec1e260b3f3985259ec7626756775c0,szczecin,tenement,89.57,4.0,1.0,4.0,1930.0,53.432411,14.538777,...,condominium,brick,premium,no,no,NaN,no,no,810000,2023-12-01
62,4cc526db21afa9861c7ec26124a0951e,szczecin,blockOfFlats,77.00,3.0,NaN,2.0,1906.0,53.445241,14.548302,...,condominium,brick,premium,no,no,no,no,yes,660000,2023-12-01

In [60]:
#print(id_counts)
print(id_counts.index[id_counts == 7].shape)

(1460,)

In [51]:
count=0
list = id_counts.to_list()
for i in list:
    if i == 7:
        count = count + 1

print(count)

1460

In [52]:
result.shape

(10220, 29)

In [53]:
print(10220/1460) #Verifying the correct number of apartments in result

7.0

In [54]:
feature_columns = df.columns.difference(['price', 'date']) #features to compare to in results dataframe
print(feature_columns)

Index(['buildYear', 'buildingMaterial', 'centreDistance', 'city',
       'clinicDistance', 'collegeDistance', 'condition', 'floor', 'floorCount',
       'hasBalcony', 'hasElevator', 'hasParkingSpace', 'hasSecurity',
       'hasStorageRoom', 'id', 'kindergartenDistance', 'latitude', 'longitude',
       'ownership', 'pharmacyDistance', 'poiCount', 'postOfficeDistance',
       'restaurantDistance', 'rooms', 'schoolDistance', 'squareMeters',
       'type'],
      dtype='object')

In [55]:
def check_same_features(group):
    return (group[feature_columns].nunique() == 1).all()

filtered_apartments = result.groupby('id').filter(check_same_features)['id'].unique()

print(filtered_apartments)
filtered_apartments.shape #There are 147 apartments out of 1460 that have the exact same values for all the features except for date and price

['bac1869ad9c2c1ef444b0ba6d225761a' 'fb10546822255a8bd8d52448ce0ae265'
 '504193ed8e736e687f64d7ba05449972' 'bde946f27b37a2dc9219075cb954f929'
 'c5c9f8850f6ed88e3009a8f251b4edce' 'f77c9cb1826c25bc189289d03635fb37'
 'b4024bae3e66c01955881dab66b1ac11' '73741308978f8307cb4b9ad4d95fcc00'
 'bea463ee71f6b7f314e3a315a6a74647' '030752d63a69565baf9dd3a638779662'
 'c03739ddb00be21349eda6e2282eaa1a' 'dbd54f4d27a44b802de090e27a0e3b4f'
 'd96ca644f596e4b9de45302ad67e4200' '41efcb82af6a97f702020ae2e62c69ae'
 '0b761e5a60709da4c695bc86e3dd369e' '8d38bd2a7d249981b7b32ae1026c0c84'
 'c871bba481968ff830ff35172ecd6948' '83b8966fd5e2a1d328b5d002833c28bf'
 '0cf00d1553b0d51dd2a2b7dc73a1356b' 'a88fd72c2675d53d1071ac88af26e339'
 '86730d03d2cf793a127448f411d66016' 'cd9aabcaafd663968d56f932abdd18e8'
 'be1dcecca11916adf725a4e700bc9545' 'afb09688a60cac2ba17799f3d18fb3ce'
 '383f97c93b6406139658cb35305e89d6' '42f90670b6f0ebd72b45268c1db76695'
 '6f67218757bfba03cf29aa5c48d6e2c8' '3ce59077604ccd1e43d4c829cf435fce'
 'a0dcebf008c2a8f2fe4b91b66a5ff929' '463f21e197c426df1ce25a06b3d4a828'
 '38d76b9490fca64043994394bfe12b47' 'f1be2f93d8945436cad99d892d54f25d'
 'b64f55e85476ea114de910b4152066ee' '13b6b2b7d58f14976b90152aec295845'
 '9c074746aa9edaff044f5519efb2b96c' '76327535076e37861a06abd7a13abe03'
 '1910d7672dd1b828963d11f6eda546e1' 'b0d91ba23114238521073a9913ba56f1'
 'e4824b79a9933ecfd809824cc217019b' '27880f59088b9beb345007c1a0c6a27e'
 '4f467144830224a780b1297d49dd544b' '88a6ae1b7b19b75ed3e77cdf553f433f'
 '52fac27add352bf7710fae0057af799e' '428fbb8fe6bf806af475fd2d3ae74428'
 'cc110601dfdb8f6cac5d58e6e76af272' '3a8e9818df90a252ba4b144f5a56cbb9'
 'ba8e6e8eb23e05b83572debe6b5d039c' '7617139b9a946de107956451f567baa3'
 'f388db685881a355c3d97a8f9ae0d26f' 'bcdc239df1beb75e74bca7bf0808e491'
 '15a99d094bc0b0eb4847555fa9de27ca' 'd8b8ff2a5f2d063e4bd2939806d2b82e'
 '82c3d59d39699ef004dbc0089623fdb5' 'adbf3510bd187c96575f4ba2145d54dc'
 'af203a83f8301044d4964d08430650be' '85e4a63c6dd37bfdd7a93d0bdb5c40ce'
 '0d7046648f418d3a0b57a264f82e1157' 'd8da17bef5f6d2763aa2b265afdb5ebf'
 '5abb0a57c6355b489a1d2161d970ac3f' '39d0876c0d729aaf87e71e7331a79bca'
 'b9c0c429979b4cb4ad1d26f5a1a49154' '62c39a9e6ab742bcca05e9943f8d5e34'
 'f28bc84f44f6ef59e360ca4288eafd6a' '50c65ee79154c230c81e1dd48bfa4701'
 '4ff64949b0cd09c9e5b5fb323a726efd' '42366e68912e5399ee07fcb1b0b314d1'
 '83d7206519e386ca9bd91dcfec9fb445' '0baa38a5464896ec318747d94c798a40'
 '522c138aa8fe08bc09bd3b2c9cf8e554' '90005f9f5c949de311c633ecf4671d8e'
 '68e0e82c40f9769142548cd8cd267ee2' 'd827b9fb58ba55983a87f8dbd963c28a'
 '7d7fed693c5d4978f947c53303115ccb' '8665730c3ae0f6e5a441af6cdaf4eac7'
 '40812612c288ac3885e5433dba426f96' '7b9715af5cc7988c754c02eff445365e'
 'e6e3e33025991d13b8dbb6d9eeecdf5b' 'aa6f16902797be1d152353b65093d74c'
 '3e41cd9ced10e404de8556c9d431cd71' '0d10d6af8b26b5d0bfd607a44f589075'
 '6a3e94091424cda6215f55f990fd085e' '3c28cc147f94b056899e265058fa7728'
 'fc402e1d27cb389ef7186ecd83623af8' '48fd6897caae0fdd9512a4dacd0ff1f2'
 'a46122ef44dc784da2c854d032dd0ac8' '49900e34def37c73e3d414828787b35a'
 'b37a3da5ed651d8c0fb3551359ae94f0' '8623145ec36d741c24833a0a47104f6a'
 '09f314267c6a3e7af89c127948d415b0' 'ad3f87efab63cf084aefa1658dfc562f'
 '0c7d49f35ab6b03d32daa0795cec82e7' '8dafc42e20cb44ccaeceb261bdfa1173'
 'b79e1dd6e77da293108dd0674632d3d2' '8dcedc3348a412e1231409f709a878c0'
 'd9cdcbbc565b72e6055e871ae006f798' 'be72fc4f178c19701c5cd08baa367f3d'
 '34ccf62b5bf9f3f1b8336cc535c89100' 'c218888d9dc16bbfb8b8b8b21d2e0c0a'
 '2a373530d6f523d504ab00783425243e' '41e39a3db9a7da75a4b4c5cf8d0c807b'
 '90b7d6e56a8229a06f4ce8b94ad7f69a' 'c164ed6b8a2559a98ea1066a9a4db412'
 'f7122984acd32f359bf481f785370991' '70d2b84ec069a86a2654c0531c532180'
 'c84425d9078444e4119f87f46256d9df' 'c29a75edd19bb111913fae4d3dfdc881'
 'a9205d30107fd7609edba03870c28e10' '83fe29c1202e8742152dcba11a396946'
 'f56048a5124490174c63cb1a31ad2f24' '0ddbf0d624b2423843849460f5ae7db7'
 'f4072ad1abced5285b0ccc5257427971' '91dffcbc88660b418f34e328555b5fac'
 '9ae1bef4fff5111561751b699a2ab321' '3986794b65074c734e01621fe5e3379c'
 '67dbec276fe15d17caaca4699a94c023' '42333494ca42d8122fdc87975f1a865c'
 '8d1e561b289f09156e18f2dd323cce8c' 'e3995aea00ddd3aabc039448dcb17769'
 'efccf03aaf33a10213aaa33f12e1cdf8' '6c92eefd9ae013eb5be1b6ee404fbdf5'
 'd904b038699ea4237fe21c2bf9789392' '6cc785bf170df5b503c76c09d72c70aa'
 'dd51f0166a150703f4a936b27bb10dc4' '1f5242a2565c38379288401fbe7867bb'
 'fd2077a068dad02e64cc9a8d96e3b945' '5090480fe81b4dcc9b279ca844079d25'
 '269e4327155da3263987ee95f6f1dd24' '7a7cc7600c448bdfc97795693570aca1'
 '7c46fc75e47ab72c700687534a4b90c1' '30f529b1df4171bce6943585b8224592'
 '8e7a7c56f60b6d6f4d16ae78fe28817a' '2376478582b4c6029117c18cae0a6584'
 'caa90a87e7753aca119262a350002127' 'd343848e9c0899fa61896b87f9d2715e'
 '1031274b7fc3ec9f17d3b05a06ecc4aa' '0a2adab6fb0bded9b008a55e14557d0d'
 'd202605efa0f76fdb7ceaa8d15f43744' 'b3cedb6e26bb7695165b4e9384744a64'
 '8cf7f2af1dfbffd2c21b950bd70285f8' 'c680a6e62ac3d7f8b2bf5dda5a802ddb'
 'd2f76d2a6909eb45a18cbc3721b25a26' '67fabb08b972f8ee543606c7802a02ba'
 'ad117919faf4e279e748ff5825cab8c9' '307a70d93015d7141669edc0e462e434'
 'da0d7d8d1ab4c296faddeb207804ed17' '43ba1ff7e0804730281149d62fc9a48b'
 'db1312ac01eb06a84110de11839730e2']

(147,)

In [43]:
test = pd.DataFrame({'id': [1, 2, 2, 1, 3], 'feat1': [1, 1, 2, 1, 3], 'feat2': [1, 1, 2, 1, 3], 'feat3': [1, 1, 2, 1, 3]})
test.head()

   id  feat1  feat2  feat3
0   1      1      1      1
1   2      1      1      1
2   2      2      2      2
3   1      1      1      1
4   3      3      3      3

In [48]:
def test_check_same_features(group):
    return (group[['id','feat1','feat2','feat3']].nunique() == 1).all()

filtered = test.groupby('id').filter(test_check_same_features)['id'].unique()

filtered
#filtered.shape

array([1, 3])

In [61]:
result_df = result[result['id'].isin(filtered_apartments)].copy() #result_df is the final dataframe with apartments that appear 7 times, are the same for all features except for date and price.

#result = df[df['id'].isin(id_counts.index[id_counts == 7])].copy()
#result_df.to_csv('dupes.csv', index=False)

result_df.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price,date
30,bac1869ad9c2c1ef444b0ba6d225761a,szczecin,tenement,77.71,3.0,3.0,3.0,1925.0,53.433019,14.569775,...,condominium,brick,low,no,no,no,no,yes,599000,2023-12-01
410,fb10546822255a8bd8d52448ce0ae265,szczecin,tenement,78.60,3.0,2.0,4.0,1929.0,53.432833,14.548187,...,condominium,brick,premium,no,no,no,no,yes,440000,2023-12-01
437,504193ed8e736e687f64d7ba05449972,szczecin,tenement,100.00,3.0,4.0,4.0,1930.0,53.436494,14.572026,...,condominium,brick,premium,yes,no,no,no,yes,739000,2023-12-01
438,bde946f27b37a2dc9219075cb954f929,szczecin,blockOfFlats,96.06,4.0,3.0,3.0,2009.0,53.465600,14.541539,...,condominium,brick,premium,no,yes,no,no,no,799000,2023-12-01
442,c5c9f8850f6ed88e3009a8f251b4edce,szczecin,tenement,42.57,2.0,1.0,1.0,1938.0,53.495690,14.584651,...,condominium,brick,premium,yes,no,no,no,yes,379000,2023-12-01

In [62]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1029 entries, 30 to 117249
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1029 non-null   object
 1   city                  1029 non-null   object
 2   type                  1029 non-null   object
 3   squareMeters          1029 non-null   float64
 4   rooms                 1029 non-null   float64
 5   floor                 1029 non-null   float64
 6   floorCount            1029 non-null   float64
 7   buildYear             1028 non-null   float64
 8   latitude              1029 non-null   float64
 9   longitude             1029 non-null   float64
 10  centreDistance        1029 non-null   float64
 11  poiCount              1029 non-null   float64
 12  schoolDistance        1029 non-null   float64
 13  clinicDistance        1029 non-null   float64
 14  postOfficeDistance    1029 non-null   float64
 15  kindergartenDistance  1029 non-null   float64
 16  restaurantDistance    1029 non-null   float64
 17  collegeDistance       1029 non-null   float64
 18  pharmacyDistance      1029 non-null   float64
 19  ownership             1029 non-null   object
 20  buildingMaterial      1029 non-null   object
 21  condition             1025 non-null   object
 22  hasParkingSpace       1029 non-null   object
 23  hasBalcony            1029 non-null   object
 24  hasElevator           1029 non-null   object
 25  hasSecurity           1029 non-null   object
 26  hasStorageRoom        1029 non-null   object
 27  price                 1029 non-null   int64
 28  date                  1029 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(11)
memory usage: 241.2+ KB

In [63]:
result_df.shape

(1029, 29)

In [64]:
print(1029/147)

7.0

In [65]:
result_df.to_csv('Dataset_to_merge.csv', index=False)